﻿@using System.Linq
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<BasketSelfHost.ViewModels.BasketViewModel>
@{
    Layout = "Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Basket";
}
<h2 id="Title">@Model.Name Basket</h2>

<div>
    Postage - @Model.Currency @Model.PostageCost<br/>
    Carrier - @Model.Carrier
</div>

<div id="basketsummary">
    Items - @Model.ItemCount <br/>
    Total (inc. postage) - @Model.Currency @Model.TotalCost
</div>


<div class="row" id="baskettable">
    <div class="col-md-12">
        <table id="itemlist" class="table">
            <thead>
            <tr>
                <th class="hidden-xs"/>
                <th/>
                <th class="hidden-xs"/>
                <th>Price</th>
            </tr>
            </thead>
            @foreach (var item in @Model.Basket)
            {
                <tr>
                    <td class="hidden-xs">
                        <img class="productimage" src=@item.Image alt="image"/>
                    </td>
                    <td>
                        <div class="text-primary">@item.ProductName</div>
                        <div class="hidden-xs">@item.Description</div>
                    </td>
                    <td class="hidden-xs">
                        <div>@item.Category</div>
                    </td>
                    <td>@Model.Currency @item.Cost</td>
                </tr>
            }
        </table>
    </div>
</div>