﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!DOCTYPE html>
<html>
<head>
    <title>G2G3 - @ViewBag.Title</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="~/Content/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/lib/Font-Awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/css/site.css" />
</head>

<body>
    <nav class="nav navbar-default">
        <div class="container-fluid">
            <i class="fa fa-home"></i> G2G3
        </div>
    </nav>

    <div id="footer" class="container-fluid">
        <div class="nav navbar-default navbar-fixed-bottom">
            <h4 class="text-center text-info">&copy; 2016 Craig Connolly</h4>
        </div>
    </div>
    <div id="main" class="container-fluid">
        <div>
            @RenderBody()
        </div>
    </div>

    <script type="text/javascript" src="~/Content/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    @RenderSection("Scripts", false)
</body>
</html>